
.main{
  padding-left: 5%;
}
.breadcrumb{
  padding-left: 2%;
}
#page_title{
  padding-left: 5%;
  margin-top: 3%;
}
  #fab_add{
  float:right;
  margin-right: 16%;
  margin-top: 1%;
}

@media only screen and (max-width : 992px) {

  .mainContainer{
    width: 100%;
    margin-left:0;
  }
}

@media only screen and (min-width: 993px){
  .mainContainer{
    width: 80%;
    margin-left: 20%;
  }
}

.sidenav{
  width: 20%;
}

.formContainer{
  width: 70%;
  margin: 5% auto 0 auto;
  padding: 5%;
}

