
.main{
  padding-left: 5%;
}

@media only screen and (max-width : 992px) {

  .mainContainer{
    width: 100%;
    margin-left:0;
  }
}

@media only screen and (min-width: 993px){
  .mainContainer{
    width: 80%;
    margin-left: 20%;
  }
}

.sidenav{
  width: 20%;
}

.dashboardHeader{
  padding-right: 5%;
}
.formContainer{
  width: 50%;
  margin: 5% auto 0 auto;
  padding: 5%;
}

.customCard{
  width: 30%;
}

#fab_add{
  padding: 5%;
}

#page_title{
  padding: 5%;
}
